1) Data Wrangling, I
Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the
data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set.
If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.1.
In addition to the codes and outputs, explain every operation that you do in the above steps and explain
everything that you do to import/read/scrape the data set.

# 1. Import All python libraries

In [14]:
import pandas as pd
import numpy as np

# 2.Locate open source data from the web -Iris dataset

In [22]:
#iris dataset

# 3.Load dataset into pandas dataframe

In [23]:
df=pd.read_csv('Iris.csv')

In [24]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# 4. Data Preprocessing:

In [25]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [29]:
print(df.shape)

(150, 6)

In [21]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [30]:
rows, cols = df.shape
missing_percentage = 0.01  # 10% of values will be missing

for col in df.columns:
    missing_indices = np.random.choice(rows, int(rows * missing_percentage), replace=False)
    df.loc[missing_indices, col] = np.nan

In [32]:
df.isna().sum()

Id               1
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          1
dtype: int64

In [34]:
# Example: If "id" follows a sequential pattern, impute missing values with the next available value
df['Id'] = df['Id'].fillna(method='ffill')

In [35]:
df.isna().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          1
dtype: int64

In [36]:
df['SepalLengthCm']=df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean())

In [38]:
df['SepalLengthCm'].isna().sum()

0

In [39]:
df['SepalWidthCm']=df['SepalWidthCm'].fillna(df['SepalWidthCm'].mean())

In [40]:
df['PetalLengthCm']=df['PetalLengthCm'].fillna(df['PetalLengthCm'].mean())

In [41]:
df['PetalWidthCm']=df['PetalWidthCm'].fillna(df['PetalWidthCm'].mean())

In [42]:
#species consist of categorical variables hence to impute missing values we are using mode

In [43]:
mode_species=df['Species'].mode()[0]

In [44]:
mode_species

'Iris-setosa'

In [45]:
df['Species']=df['Species'].fillna(df['Species'].mode()[0])

In [46]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# 5.Data formatting and data Normalization

In [47]:
df.dtypes

Id               float64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [48]:
#here Species column consist of categoies and its datatype is object so we can change it

In [49]:
df['Species']=df['Species'].astype('category')

In [63]:
df.dtypes

Id               float64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int32
dtype: object

In [64]:
#id is float column and it should be int so lets change it

In [67]:
df['Id']=df['Id'].astype('int')

In [70]:
df.dtypes

Id                 int32
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int32
dtype: object

# 6.Turn categorical variables into quantitative variables in Python

In [51]:
#here we have to do encoding 

df['Species'].unique()

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
Categories (3, object): ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

we will do label encoding

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
label_encoder=LabelEncoder()

In [59]:
df['Species']=label_encoder.fit_transform(df['Species'],)

In [60]:
df['Species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [61]:
df['Species'].unique()

array([0, 1, 2])

In [62]:
df.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0  1.0            5.1           3.5            1.4           0.2        0
1  2.0            4.9           3.0            1.4           0.2        0
2  3.0            4.7           3.2            1.3           0.2        0
3  3.0            4.6           3.1            1.5           0.2        0
4  5.0            5.0           3.6            1.4           0.2        0

# DONE